input {
    width: 280px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(246	247	249	);
    border: 1px solid rgb(246	247	249	);
    resize: none;
    margin: 8px;
}
select {
    color: white;
    width: 90px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #2495ff;
    border: 1px solid rgb(246	247	249	);
    resize: none;
    margin: 8px;
}