<div>
    <div>
        <input type="number" [(ngModel)]="firstConvertValue" (ngModelChange)="firstInputChangeHandler()"/>
        <!-- <select
            ngModel="{string}"
            [name="{string}"]
            [required]
            [ngRequired="{string}"]
            [ngOptions="{comprehension_expression}"]
        > -->
        <select selected="UAH" [(ngModel)]="firstConvert">
            <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
        <p>{{firstConvert}}</p>
    </div>
    <div>
        <input type="number" [(ngModel)]="secondConvertValue" (ngModelChange)="secondInputcChangeHandler()"/>
        <!-- <select
            ngModel="{string}"
            [name="{string}"]
            [required]
            [ngRequired="{string}"]
            [ngOptions="{comprehension_expression}"]
        > -->
        <select selected="EUR" [(ngModel)]="secondConvert">
            <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
        <p>{{secondConvert}}</p>
    </div>
</div>
